html, body {
  height: 90%;
  background-color: #ae9e90;
  }

.buttons {
  font-size: 1rem;
  margin: .4rem;
  float: left;
  background-color: #ebe3cd;
  color: black;
}

/* .buttons::selection {
  color: red;
  transform: scale(1.5);
} */

#map {
height: 100%;
width: 100%;
overflow: hidden;
border: thin solid #333;
}