html, body {
  height: 90%;
  background-color: #ae9e90;
  }

#button-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

header, p {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
}

header {
  font-size: 2.5rem;
}

p {
  font-size: 1.25rem;
}

.buttons {
  font-size: 1rem;
  margin: .2rem;
  padding: .2rem;
  float: left;
  background-color: #ebe3cd;
  color: black;
  border-radius: 10px;
}

#clear {
  background-color: rgb(197, 59, 59);
  color: white;
}

#map {
height: 100%;
width: 100%;
overflow: hidden;
border: thin solid #333;
}